@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  border-bottom: 1px solid silver;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

header {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper header {
  padding: 30px 20px;
}

.wrapper .header span {
  font-size: 29px;
  font-weight: 700;
  color: #1090CB;
  text-transform: uppercase;
}

.wrapper .header nav {
  float: right;
  width: 47%;
  margin-top: 7px;
}

.wrapper .header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.wrapper .header li {
  display: inline-block;
}

.wrapper .header .active a {
  color: #1090CB;
}

.wrapper .header .active ::after {
  content: "";
  display: block;
  background: #08D3BB;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  position: relative;
  top: -28px;
  left: -9px;
}

.wrapper .header a {
  color: #000;
  position: relative;
}

.wrapper .header li:not(.active):not(.btn) a:hover {
  display: block;
  color: #1090CB;
}

.wrapper .header .btn a {
  color: #fff;
  background: #1090CB;
  padding: 13px 30px;
  border-radius: 7px;
  transition: all 200ms ease;
}

.wrapper .header .btn a:hover {
  background-color: #0b72a1;
}

.wrapper hr {
  opacity: 20%;
  border: 0.01;
}

hr {
  opacity: 0.2;
  border: 0.1;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.human {
  background-color: #E7F4FA;
}

.hero {
  background-color: #E7F4FA;
  background-size: cover;
  padding: 140px 0;
  display: flex;
  position: relative;
}

.text {
  width: 620px;
  color: #000;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

span {
  color: #1090CB;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4;
  opacity: 0.6;
}

.hero .btn {
  margin-top: 50px;
  color: #fff;
  background: #1090CB;
  padding: 15px 50px;
  border-radius: 10px;
  transition: all 200ms ease;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 200ms ease;
}

.hero .btn1 {
  margin-top: 50px;
  color: #1090CB;
  background: #fff;
  padding: 15px 50px;
  border-radius: 10px;
  transition: all 200ms ease;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 15px;
  border-color: #1090CB;
  transition: all 200ms ease;
}

.hero .btn:hover {
  background-color: #0b72a1;
}

.hero .btn1:hover {
  background-color: #eaeaea;
}

#main1 {
  position: absolute;
  right: -20px;
  top: 10px;
  z-index: 0;
}

.human img {
  top: -55px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.body {
  border-bottom: 1px solid silver;
  width: 100%;
}

.body .flex {
  display: flex;
  color: #000;
  padding: 43px 0;
}

.flex .block {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.flex img {
  padding: 23px 23px;
  border-radius: 25px;
}

.flex h1 {
  font-size: 20px;
  font-weight: 400;
}

.flex p {
  font-size: 15px;
  font-weight: 200;
  opacity: 0.6;
}

.flex .weeb {
  padding: 15px 0;
  padding-left: 45px;
  width: 100%;
}

.flex .block .weeb h1 {
  display: block;
}

.flex .web img {
  background: #EFEAFF;
}

.flex .seo img {
  background: #ECFFDA;
}

.flex .arvr img {
  background: #DAE6FF;
}

.flex .mobile img {
  background: #FFE5DA;
}

.arms {
  padding-bottom: 10px;
  position: relative;
}

.arms .vector {
  position: absolute;
  z-index: 8;
  top: 400px;
  left: -70px;
}

.arms .baset {
  text-align: center;
  color: #000;
  padding-top: 115px;
  padding-bottom: 55px;
}

.arms .baset h1 {
  font-size: 33px;
  font-weight: 600;
  padding-bottom: 20px;
}

.arms .baset p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.4;
  width: 692px;
  margin: 0 auto;
}

.phone {
  color: #000;
  display: flex;
  position: relative;
}

.phone .lurics {
  display: flex;
  margin: 0 auto;
}

.phone .img1 {
  display: block;
  background: #08D3BB;
  padding: 11px 14px;
  border-radius: 50px;
  margin-right: 20px;
  z-index: 11;
}

.phone .luric {
  justify-content: center;
}

.phone .luric h1 {
  font-size: 17px;
  font-weight: 500;
}

.phone .luric p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}

.phone .text1 {
  width: 550px;
  padding: 70px 0;
}

.phone .text1 .text2 .h1 {
  padding: 20px 1000px;
}

.phone .left {
  width: 516px;
}

.phone .text2 h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 50px 0;
}

.phone .text2 span {
  font-size: 30px;
  font-weight: 600;
}

.phone p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
}

.phone .mobile img {
  position: absolute;
  z-index: 2;
}

.phone1 {
  color: #000;
  display: flex;
  position: relative;
  padding-top: 200px;
  padding-left: 110px;

}

.phone1 .lurics {
  display: flex;
  margin: 0 auto;
}

.phone1 .img1 {
  display: block;
  background: #1090CB;
  padding: 11px 14px;
  border-radius: 50px;
  margin-right: 20px;
  z-index: 11;
}

.phone1 .luric {
  justify-content: center;
}

.phone1 .luric h1 {
  font-size: 17px;
  font-weight: 500;
}

.phone1 .luric p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}

.phone1 .text1 {
  width: 550px;
  padding: 70px 0;
}

.phone1 .text1 .text2 .h1 {
  padding: 20px 1000px;
}

.phone1 .left {
  width: 516px;
}

.phone1 .text2 h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 50px 0;
}

.phone1 .text2 span {
  font-size: 30px;
  font-weight: 600;
}

.phone1 p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
}

.phone1 .mobile img {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 2;
}

.phone2 {
  color: #000;
  display: flex;
  position: relative;
  padding: 200px 0;
}

.phone2 .lurics {
  display: flex;
  margin: 0 auto;
}

.phone2 .img1 {
  display: block;
  background: #9208D3;
  padding: 11px 14px;
  border-radius: 50px;
  margin-right: 20px;
  z-index: 11;
}

.phone2 .luric {
  justify-content: center;
}

.phone2 .luric h1 {
  font-size: 17px;
  font-weight: 500;
}

.phone2 .luric p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}

.phone2 .text1 {
  width: 550px;
  padding: 70px 0;
}

.phone2 .text1 .text2 .h1 {
  padding: 20px 1000px;
}

.phone2 .left {
  width: 516px;
}

.phone2 .text2 h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 50px 0;
}

.phone2 .text2 span {
  font-size: 30px;
  font-weight: 600;
}

.phone2 p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
}

.phone2 .mobile img {
  position: absolute;
  right: 50px;
  z-index: 2;
}

.colocol {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding-bottom: 184px;
}

.colocol .content1 {
  background: #F4F4F4;
  border-radius: 30px;
  padding: 20px 59px;
}

.colocol .content1 h1 {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  width: 365px;
  margin: 0 auto;
  padding-bottom: 36px;
  padding-top: 50px;
}

.colocol .content1 p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  width: 476px;
  margin: 0 auto;
  opacity: 0.6;
}

.colocol .content1 button {
  color: #fff;
  background: #1090CB;
  padding: 15px 40px;
  border-radius: 12px;
  transition: all 200ms ease;
  border: 0;
  justify-content: center;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

.colocol .content1 button:hover {
  background-color: #0b72a1;
}

.colocol .content2 {
  background: #1090CB;
  border-radius: 30px;
  padding: 10px 59px;
  color: #fff;
  position: relative;
}

.colocol .content2 h1 {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  width: 365px;
  margin: 0 auto;
  padding-bottom: 36px;
  padding-top: 50px;
}

.colocol .content2 p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  width: 476px;
  margin: 0 auto;
  opacity: 0.6;
}

.colocol .content2 button {
  font-size: 17px;
  color: #1090CB;
  background: #fff;
  padding: 15px 40px;
  border-radius: 12px;
  transition: all 200ms ease;
  border: 0.1px solid #108cc5;
  justify-content: center;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

.colocol .content2 button:hover {
  background-color: #eaeaea;
}

.colocol .colocolchik img {
  position: absolute;
  top: -80px;
  right: 0;
}

.brend {
  padding-bottom: 87px;
}

.brend h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #000;
  padding-bottom: 11px;
}

.brend img {
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.email {
  background: #E8F4FA;
  text-align: center;
  display: block;
}

.email h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #000;
  width: 516px;
  padding-top: 148px;
  padding-bottom: 80px;
}

.email .input {
  padding-bottom: 148px;
}

.email input {
  background: #fff;
  outline: none;
  border: 0;
  border-radius: 10px;
  width: 500px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 25px 30px;
}

.email input::placeholder {
  color: #898989;
  font-size: 16px;
}

.email button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #000;
  padding: 25px 50px;
  border-radius: 10px;
  transition: all 500ms ease;
  border: 0;
  cursor: pointer;
  /*меняет внешний вид курсора мыши на «указательный палец» (руку) при наведении на элемент*/
  margin-right: 90px;
  margin-left: 10px;
  text-transform: uppercase;
}

.email button:hover {
  background: #01344e;
}

.footer {
  color: #000;
  padding-top: 87px;
  padding-bottom: 53px;
  border-bottom: 1px solid silver;
}

.footers {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footers h3 {
  font-size: 17px;
  font-weight: 500;
}

.footers p {
  padding-bottom: 25px;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
}

.footers .log {
  width: 400px;
}

.footers .log h3 {
  padding-bottom: 27px;
  color: #00329B;
  font-size: 16px;
  font-weight: 700;
}

.footers .log h5 {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
}

.footers .about {
  width: 120px;
  padding-right: 80px;
}

.footers .about h3 {
  padding-bottom: 24px;
}

.footers .about li {
  list-style-type: none;
  padding: 1px 0;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
}

.footers .contact {
  width: 290px;
}

.footers .contact h3 {
  padding-bottom: 24px;
}

.footers .contact p {
  padding-bottom: 8px;
}

.footers .contact h5 {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 300;
}

.footers .twitter {
  width: 260px;
}

.footers .twitter img {
  position: absolute;
  top: 117px;
  right: 0;
}

.final h1 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  opacity: 0.5;
  padding: 29px 0;
}